<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>serverKP</key>
    <data>A05R4OohIV/gKxXjX8CMU5lCPwJzgibztKpyvjM7n/k0/h48wWqrG74RGgXz9QN6SsL</data>
    <key>FDRBlob</key>
    <data>ukMtH9RdSQvHzBx7FiBGr7/KcmlxX/XwoWenWb6IRM=</data>
    <key>SUInfo</key>
    <data>HAEQTDM9LOEoZRBRuuU5SwnRZNiDx7K3zwMj7Zw3KPnfc5Q48eSSwNLNN8Isrlsk+Qs9SSbiDWkeMGwS4fa9nX6mf7qUDhH8bkHahyn0neXnkEcWfW2PXs79zAZyuQ1uMylDdaRTlUqemDLk1Bwm+yQhyj1+lIq1mb</data>
    <key>HandshakeResponseMessage</key>
    <data>AmKxRFuvy77iEmSdq7BvvvyKcQjZxNjj8hULEEs/VGSc2qN4Q+mfBJwIgOG+srIYMBMMfofZDi/x8kG9m4KCj3xj21fSRCTH94VnqZ12fXGcydoo1hKY+i5HKNI701hRlYA/+Tgvqeg3gcFaTfoRAK85I1qJ57CySHFXXfKil7gUJdae4Ay2mpsre0surDKSKSL5wuitQGvL40d1Dv1xre7xTHHT82bz0DSayD7JelbTjtsg8rmUEerO43JZ5mDKh8XuIoIEH8fnvci/lX7DHs7fx4iEjjFGWyfcSeBxtmKDgHBjhEoyUXM7eMpJQy5gTHX0rV/fRsc+7ZJFUUhUyK3qSKpvgEAztzxJ1mA60AR2flTFrCXn3aayHDmOVVTthsDr19wat2Cy2n+4cIcIqdS105GwngLh5HpLY5+UN+sl/ud7JkSpi3rSg+/ALRjEspGd66N9IMAMjVwqB7CJCJqPM7iLSM/erW6uOjZtKRL0zjGs1SDPyKUTWnv9wHXDFNMrcdB29hRMDtEGjNN7zouSX5/cERJNSjIl0CNmscnLVbpdUfqyNSVkjVA6UO0YucvdykDjnffJMsR8fnvoEryAAoAAQMABQAQQQJDBQtplviJJBclj5UOOpcpQ==</data>
</dict>
</plist>